<!DOCTYPE html>

<html>

<head>
<title>Weather</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/static.js"></script>
</head>

<body>
<div class="main-content">
{{>header}}
{{>menu}}
Enter the Patient Details in the following sequence:
id:{{id}}
name:{{name}}
age:{{age}}
condition:{{condition}}
type:{{type}}

<a href="">open form to fill details</a>
</div>

{{>footer}}
</body>

</html>