<!DOCTYPE html>

<html>

<head>
<title>Help</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="main-content">
{{>header}}
{{>menu}}
Choose a Patient to discharge:
1.<a href="" >{{name}}</a>
id:{{id}}
age:{{age}}
condition:{{condition}}
type:{{type}}
<a href="">see more...</a>
</div>
{{>footer}}
</body>

</html>